<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACCEX</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <!-- Barra de título personalizada -->
  <div class="title-bar">
    <div class="logo-bar">
      <img
        src="../../assets/icons/ic_accex_bar.png"
        alt="ACCEX Logo"
        style="height: 20px"
      />
    </div>
  </div>
  <body>
    <div class="container">
      <div class="logo">
        <img src="../../assets/images/accex-logo.png" alt="ACCEX" />
      </div>
      <div class="buttons">
        <button id="create-account">Crear Cuenta</button>
        <button id="login">Iniciar Sesión</button>
      </div>
      <div class="language">
        <img src="../../assets/images/language-icon.png" alt="Idioma" />
        <span>Idioma</span>
      </div>
    </div>

    <script src="../scripts/index.js"></script>
  </body>
</html>
