<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="../styles/sidebar.css" />
  </head>
  <body>
    <h1>Mi Sidebar</h1>
    <!-- Barra de búsqueda -->
    <input type="text" id="search-bar" placeholder="Escribe tu consulta..." />

    <button id="google">Ir a Google</button>
    <button id="facebook">Ir a Facebook</button>
    <button id="whatsapp">Ir a WhatsApp</button>

    <!-- Indicador de carga -->
    <div id="loading">Cargando...</div>

    <script src="../scripts/sidebar.js"></script>
  </body>
</html>
