.frame-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

/* button.frame-button.favorite-button {
	padding: 3px !important;
	border-radius: 10px !important;
}

.frame-button.favorite-button:hover {
	background-color: gray;
  outline: 1px solid gray;

} */
