/* Estilos para la barra superior personalizada */
#title-bar {
  background-color: #333;
  color: white;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag; /* Hace que la barra sea "draggable" */
}

#title-bar button {
  -webkit-app-region: no-drag; /* Evita que los botones sean "draggables" */
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

#title-bar button:hover {
  background-color: #555;
}
